body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#randomWordButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#displayWord {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}
